@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}
